@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/codewithdennis/filament-simple-alert/resources/**/*.blade.php';

@source inline('animate-{spin,pulse,bounce}');

.torchlight .line {
    @apply whitespace-pre-wrap break-all;
}
